<div class="container">
  <h2>Add Student Information</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required [(ngModel)]="student.name">
    </div>
    <div class="form-group">
      <label for="rollNo">Roll Number:</label>
      <input type="text" id="rollNo" name="rollNo" required [(ngModel)]="student.rollNo">
    </div>
    <div class="form-group">
      <label for="grade">Grade:</label>
      <input type="text" id="grade" name="grade" required [(ngModel)]="student.grade">
    </div>
    <div class="form-group">
      <button type="submit">Add Student</button>
    </div>
  </form>
</div>

